.button {
    background: linear-gradient(175deg, $color-secondary, $color-primary);
    border: none;
    padding: 15px 18px;
    border-radius: 60px;
    box-shadow: 1px 1px 10px rgba(0,0,0,15%);

    p {
        font-size: 14px;
        font-weight: 400;
        color: white;
        margin: 0;
    }


}