* {
    font-family: $text-font;
    scroll-behavior: smooth;
}

img {
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black; 
    transition: 0.25s linear;
}

a:hover {
    color: $color-primary; 
}

li {
    list-style-type: none;
}

h2 {
    font-weight: 700;
}


h3 {
    font-weight: 300;
}

h4 {
    margin: 0;
}

p {
    margin: 0;
}