.city-block {
    background-color: darken($background-light, 5%);
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    i {
        width: 25px;
    }
    
    p {
        font-weight: 500;
    }
}


.first-block {
    background-color: $background-light;
    padding: 40px 35px; 
    text-align: center;

    h2 {
        margin: 0;
        font-size: 24px;
    }
}

.fonctionnement {
    padding: 50px 20px;

    h2 {
        margin: 0 0 35px 0;
    }

    &__box {
        box-shadow: 1px 1px 10px rgba(0,0,0,15%);
        display: flex;
        border-radius: 20px;
        margin-bottom: 25px;
        padding: 25px 30px ;
        background-color: $background-light;
        position: relative;

        p {
            margin: 0;
            font-weight: 500;
        }

        i {
            width: 40px;
            color: darken($background-light, 50%);
            padding-top: 2px;
        }

        &__number {
            position: absolute;
            left: -10px;
            top: 25px;
            background-color: $color-primary;
            padding: 4px 8px 4px 8px;
            border-radius: 100px;

            p {
                color: white;
                font-size: 13px;
                font-weight: 300;
            }
        }

    }
}

.restaurants {
    background-color: $background-light;
    padding: 25px 20px;

    h2 {
        margin: 25px 0 15px 0;
    }

    &__box {
        display: block;
        position: relative;
        border-radius: 20px;
        height: 255px;
        background-color: white;
        overflow: hidden;
        margin-bottom: 20px;
        box-shadow: 1px 1px 10px rgba(0,0,0,15%);


        &__texte {
            padding-top: 20px;
            padding-left: 15px;

            h4 {
                margin-bottom: 5px;
            }
        }  
        
        &__coeur {
            position: absolute;
            bottom: 35px;
            right: 25px;
        }

        &__nouveau {
            background-color: $color-tertiary;
            position: absolute; 
            top: 15px; 
            right: 10px;
            padding: 10px 12px;
            border-radius: 5px;

            p {
                color: $color-tert-dark;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    img {
        height: 175px;
        width: 100%;
    }
}