.description {
    background-color: $background-light;
    align-items: center;
    display: flex;
    flex-direction: column;

    &__city-block {
        background-color: darken($background-light, 5%);
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        i {
            width: 25px;
        }
        
        p {
            font-weight: 500;
        }

        @include desktop-only {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 20px 20px;
            box-shadow: 1px 1px 10px rgba(0,0,0,15%);
        }

        @include tablet-only {
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 0 0 20px 20px;
            box-shadow: 1px 1px 10px rgba(0,0,0,15%);
        }
    }

    &__first-block {
        padding: 40px 35px; 
        text-align: center;
    
        h2 {
            margin: 0;
            font-size: 24px;
        } 
    }
}

.fonctionnement {
    padding: 50px 20px;

    @include tablet-only {
        padding: 50px 200px;
    }

    h2 {
        margin: 0 0 35px 0;

        @include tablet-only {
            text-align: center;
        }

        @include desktop-only {
            text-align: center;
        }
    }

    .desktop {
        @include desktop-only {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-content: space-between;  
        }

    }

    &__box {
        box-shadow: 1px 1px 10px rgba(0,0,0,15%);
        display: flex;
        border-radius: 20px;
        margin-bottom: 25px;
        padding: 25px 30px ;
        background-color: $background-light;
        position: relative;

        @include desktop-only { 
            margin-right: 50px;
            width: 20%;
        }

        p {
            margin: 0;
            font-weight: 500;
        }

        i {
            width: 40px;
            color: darken($background-light, 50%);
            padding-top: 2px;
        }

        &:hover {
            background-color: lighten($color-primary, 35%);
            cursor: pointer;

            i{
                color: $color-primary;
            }
        }

        &__number {
            position: absolute;
            left: -10px;
            top: 25px;
            background-color: $color-primary;
            padding: 4px 8px 4px 8px;
            border-radius: 100px;

            p {
                color: white;
                font-size: 13px;
                font-weight: 300;
            }
        }
    }
}

.restaurants {
    background-color: $background-light;
    padding: 25px 20px;
    
    h2 {
        margin: 25px 0 15px 0;

        @include tablet-only {
            text-align: center;
        }

        @include desktop-only {
            text-align: center;
            margin-bottom: 50px;
        }
    }

    &__desktop {
        @include desktop-only {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            padding: 0 100px;
        }

        @include tablet-only {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0px 0 50px 0px; 
        }
    }

    &__box {
        display: block;
        position: relative;
        border-radius: 20px;
        height: 255px;
        background-color: white;
        overflow: hidden;
        margin-bottom: 20px;
        box-shadow: 1px 1px 10px rgba(0,0,0,15%);
        
        @include tablet-only {
            width: 80%;
        }

        @include desktop-only {
            width: 40%;
        }
        


        &__texte {
            padding-top: 20px;
            padding-left: 15px;

            h4 {
                margin-bottom: 5px;
            }
        }  
        
        &__coeur {
            position: absolute;
            bottom: 35px;
            right: 25px;

            
        }

        &__nouveau {
            background-color: $color-tertiary;
            position: absolute; 
            top: 15px; 
            right: 10px;
            padding: 10px 12px;
            border-radius: 5px;

            p {
                color: $color-tert-dark;
                font-size: 14px;
                font-weight: 500;
            }
        }
    }

    img {
        height: 175px;
        width: 100%;
    }
}