@mixin tablet-only {
    @media screen and (min-width: 767px) and (max-width: 1279px)  {
        @content;
    }
}

@mixin desktop-only {
    @media screen and (min-width: 1280px)   {
        @content;
    }
}

@mixin mobile-only {
    @media screen and (max-width: 766px) {
        @content; 
    }
}

@mixin mobile-small {
    @media screen and (max-width: 400px) {
        @content; 
    }
}

@mixin position-center($text-align: center) {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: $text-align;
}