$color-primary: #9356DC;
$color-secondary: #FF79DA; 
$color-tertiary:#99E2D0; 

$background: #353535;
$background-light: #f6f6f6; 

$color-tert-dark: #008766;

$text-font: "Roboto"; 
$title-font: "Shrikhand"; 