footer {
    background-color: $background;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    
    p {
        font-family: $title-font;
        font-size: 19px;
        color: white;
        margin: 0;
    }

    ul {
        margin: 0;
        padding-top: 15px;
        padding-left: 0;
    }

    li {
        padding-bottom: 10px;
        color: white;
    }

    a {
        color: white;
    }

    i {
        width: 20px;
    }    
    
    @include mobile-only {
        
    }
}

